body {
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

.container {
  position: relative;
  width: 80%;
  margin: 0 auto; }
  .container_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px; }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .hero img {
    width: 50%; }
  .hero__title {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    width: 48%;
    padding: 0 68px; }

.main__title {
  font-family: "Bungee";
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  padding: 0 117px;
  text-align: center; }
.main__desc {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px; }

.info {
  margin-top: 200px; }
  .info__bocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.block-info__title {
  font-family: "Bungee";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px; }
.block-info__desc {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px; }

.photo {
  margin-top: 100px; }
  .photo__img {
    width: 884px;
    margin-left: auto;
    margin-top: 68px; }
  .photo__img-two {
    position: absolute;
    top: 109px;
    left: 0;
    z-index: 5; }
  .photo__desc {
    text-align: right; }

.square__big {
  background: rgba(73, 182, 255, 0.5);
  width: 109px;
  height: 109px; }
  .square__big_right {
    margin-left: auto; }
.square__middle {
  background: rgba(73, 182, 255, 0.5);
  width: 68px;
  height: 68px; }
.square__small {
  background: rgba(73, 182, 255, 0.5);
  width: 42px;
  height: 42px; }
.square__the-smallest {
  background: rgba(73, 182, 255, 0.5);
  width: 26px;
  height: 26px; }
